h1{padding: 10px 20px 10px 30px;
    background-color:transparent;
font-family: 'Nunito Sans',sans-serif;
color: rgb(255, 254, 254);}


h4{margin-left: 30px;
margin-bottom: 30px;
margin-top: 30px;
color: rgba(252, 255, 252, 0.991);}

.mt-3{
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(255, 248, 248);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(163, 158, 158, 0.624), rgba(0, 0, 0, 0.106)),
    url('/assets/img/fondo4.jpg');
}

#Email{margin-left: 30px;
}


#tituloemail{margin-left: 30px;}

#tituloPassword{margin-left:30px}

#Password{margin-left:30px}

#boton{margin-left: 30px;}

#menu{margin-left:30px}

/*Media Queries*/

/*Pantallas pequeñas*/
@media screen and(min-width:576px) {
    body
    .container{max-width: 540px;}
    
}


/*Pantallas medianas*/
@media screen and(min-width:768px){
    body
    .container{max-width: 720px;}
}

/*Pantallas grandes*/
@media screen and(max-width:992px) {
    body
    .container{max-width: 960px;}
    
}